<div class="comments">
  {{!-- For each posted comment --}}
  {{#each this}}
    <section class="card" data-logged-in="{{#if loggedIn}}true{{else}}false{{/if}}">
      <!-- Comment Container -->
      <div class="card-content">
        <span class="card-title">
          <!-- Show who commented and when -->
          <strong class="comment-author" style="color: #ee6e73; font-size: 2rem; font-weight: bold;">
            - {{user.username}}
          </strong>, {{format_date created_at}}
        </span>
        <!-- Comment Text -->
        <p class="comment-text">
          <strong>{{comment_text}}</strong>
        </p>
        <!-- Delete Button -->
        <button class="delete-comment btn red darken-2" data-id="{{id}}">
          Delete
        </button>
      </div>
    </section>
  {{/each}}
</div>
