<header>
  <h1>
    Blog-This-Tech
  </h1>
</header>
<ul class="post-list">
  {{! for each post }}
  {{#each posts as |post|}}
    <li>
      <article class="post">
        <div class="title-strip">
          <div class="title" id="blog-title">
            {{! href with post.id }}
            <a href="/post/{{post.id}}">{{post.title}}</a>
          </div>
          <div class="meta">
            by
            {{! show post creator}}
            {{post.user.username}}
            on
            {{! show when post created }}
            {{format_date post.created_at}}
          </div>
        </div>
        {{! show post text (actual blog) }}
        <div class="text">{{post.post_text}}</div>
      </article>
    </li>
  {{/each}}
</ul>