<h1>{{post.title}}</h1>
<p>{{post.contents}}</p>
<p>Posted by: {{post.user.username}} on {{post.createdAt}}</p>

{{#if loggedIn}}
  <form action="/api/comments" method="POST">
    <textarea name="comment"></textarea>
    <input type="hidden" name="postId" value="{{post.id}}">
    <button type="submit">Submit Comment</button>
  </form>
{{/if}}

{{#each post.comments}}
  <div>
    <p>{{this.contents}} - {{this.user.username}} on {{this.createdAt}}</p>
  </div>
{{/each}}
